*html{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


 
.body{
  background-color:green;
}
.container{
  display: grid;
  justify-items:center;
  background-color: whitesmoke;

  
}

#datosPersonaje{
  border-radius: 20px;
  padding: 10%;
  display: inline-block;
  border:  4px solid black;
  background-color:black;
  color:beige;
  margin-left: -60px;

}


.digimon-details{
  margin-left: 100px;
}



